@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
    font-family: ChristmasLightsOutdoor;
    src: url("assets/fonts/ChristmasLightsOutdoor.ttf") ;
}

@import url('https://fonts.googleapis.com/css2?family=Raleway&display=swap');

@font-face {
    font-family: ChristmasAngel;
    src: url("assets/fonts/ChristmasAngel.otf") format("opentype");
}
@font-face {
    font-family: RoyalWedding;
    src: url("assets/fonts/RoyalWedding.ttf");
}

h1{
    font-family: 'ChristmasAngel', sans-serif;
}

img{
    width: 100%;
    height: auto;
}

body{
    padding: 0;
    margin: 0;
    background-color: #0f0e0e;
    color: white;
    height: 100vh;
    width: 100vw;
    overflow: hidden;
    font-family: 'Raleway', sans-serif;
    scroll-behavior: smooth;
}

.royalWedding{
    font-family: 'RoyalWedding', sans-serif;
}